[submodule "external/proteingym"]
	path = external/proteingym
	url = https://github.com/OATML-Markslab/ProteinGym.git

[submodule "magneton/external/ProSST"]
	path = magneton/external/ProSST
	url = git@github.com:rcalef/ProSST.git
