defaults:
  - base_pipeline
  - data: interpro103_swissprot
  - base_model: esmc
  - _self_
  - override hydra/job_logging: colorlog
  - override hydra/hydra_logging: colorlog

run_id: my_new_run
wandb_entity: magneton
wandb_project: magneton
model:
  frozen_base_model: true
  model_params:
    hidden_dims: ["embed"]
    dropout_rate: 0.1

training:
  max_epochs: 5
  accelerator: gpu
  devices: auto
  learning_rate: 0.001
  weight_decay: 0.01
  additional_training_kwargs:
    limit_val_batches: 128
    val_check_interval: 1024

hydra:
  run:
    dir: ${output_dir}
